Repository octo-technology/tezos-link, pull requests merged in 2020-07, with the labels that each got.

#89 Add network selector in proxy terraform module
  infra/terraform/modules/service_proxy/main.tf
  infra/terraform/modules/service_proxy/proxy_task_definition.json
Labels: infra

#90 Add proxy for carthagenet
  .github/workflows/cicd_proxy.yml
  infra/terragrunt/02_service_proxy_carthagenet/terragrunt.hcl
  infra/terragrunt/02_service_proxy_mainnet/terragrunt.hcl
Labels: infra, wait for dependancies

#83 Setup autoscaling rules for rolling node
  infra/terraform/modules/tezos_node/autoscaling.tf
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/security_group.tf
  infra/terraform/modules/tezos_node/user_data.tpl
  infra/terraform/modules/tezos_node/variables.tf
  infra/terragrunt/01_tezos_archive_node/terragrunt.hcl
  infra/terragrunt/01_tezos_rolling_node/terragrunt.hcl
Labels: infra, loadtest

#88 Handle Carthagenet archive and rolling node
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/security_group.tf
  infra/terraform/modules/tezos_node/user_data_archive.tpl
  infra/terraform/modules/tezos_node/user_data_rolling.tpl
  infra/terragrunt/01_tezos_carthagenet_archive_node/terragrunt.hcl
  infra/terragrunt/01_tezos_carthagenet_rolling_node/terragrunt.hcl
  infra/terragrunt/01_tezos_mainnet_archive_node/terragrunt.hcl
  infra/terragrunt/01_tezos_mainnet_rolling_node/terragrunt.hcl
Labels: infra

#92 Handle carthagenet in the lambda snapshot process
  cmd/snapshot/main.go
  infra/terraform/modules/lambda/main.tf
  infra/terraform/modules/s3_shared_bucket/config.tf
  infra/terraform/modules/s3_shared_bucket/main.tf
  infra/terraform/modules/s3_shared_bucket/provider.tf
  infra/terraform/modules/s3_shared_bucket/variables.tf
  infra/terragrunt/00_lambda_metrics_bucket/terragrunt.hcl
  infra/terragrunt/00_lambda_snapshot_bucket/terragrunt.hcl
  infra/terragrunt/01_lambda_snapshot_carthagenet/terragrunt.hcl
  infra/terragrunt/01_lambda_snapshot_mainnet/terragrunt.hcl
  infra/terragrunt/02_lambda_metrics/terragrunt.hcl
Labels: infra

#91 API: User can create a project for a specific network (MAINNET or CARTHAGENET)
  Makefile
  build/package/proxy.Dockerfile
  config/api_config.go
  config/proxy_config.go
  data/api/conf/dev.toml
  data/api/conf/local.toml
  data/api/migrations/2_projects_table.up.sql
  docker-compose.yml
  internal/api/infrastructure/rest/helpers_test.go
  internal/api/infrastructure/rest/inputs/new_project.go
  internal/api/infrastructure/rest/outputs/project_output.go
  internal/api/infrastructure/rest/rest_controller.go
  internal/api/infrastructure/rest/rest_controller_test.go
  internal/api/usecases/helpers_test.go
  internal/api/usecases/project_usecase.go
  internal/api/usecases/project_usecase_test.go
  internal/proxy/usecases/helpers_test.go
  internal/proxy/usecases/proxy_usecase.go
  internal/proxy/usecases/proxy_usecase_test.go
  pkg/domain/errors/errors.go
  pkg/domain/model/project.go
  pkg/domain/repository/project_repository.go
  pkg/infrastructure/cache/lru_project_repository.go
  pkg/infrastructure/cache/lru_project_repository_test.go
  pkg/infrastructure/database/postgres_project_repository.go
  pkg/infrastructure/database/postgres_project_repository_test.go
  test/proxy/conf/test.toml
  web/package.json
  web/src/entities/ProjectWithMetrics.ts
  web/src/pages/Dashboard/Dashboard.components/ProjectNetwork/ProjectNetwork.style.tsx
  web/src/pages/Dashboard/Dashboard.components/ProjectNetwork/ProjectNetwork.view.tsx
  web/src/pages/Dashboard/Dashboard.controller.tsx
  web/src/pages/Dashboard/Dashboard.view.tsx
  web/src/pages/NewProject/NewProject.components/FormInputNetworkSelector/Select.controller.tsx
  web/src/pages/NewProject/NewProject.components/FormInputNetworkSelector/Select.style.tsx
  web/src/pages/NewProject/NewProject.components/FormInputNetworkSelector/Select.view.tsx
  web/src/pages/NewProject/NewProject.controller.tsx
  web/src/pages/NewProject/NewProject.validator.tsx
  web/src/pages/NewProject/NewProject.view.tsx
Labels: app

#94 Repair workflow for lambda snapshot
  .github/workflows/cicd_lambda_snapshot.yml
Labels: bug, infra

#95 Fix ecs-proxy workflow (missing network for mainnet)
  .github/workflows/cicd_proxy.yml
Labels: bug

#101 Add terragrunt in workflow
  .github/workflows/cicd_proxy.yml
Labels: bug

#108 Rework healthcheck system
  internal/proxy/infrastructure/http/http_controller.go
  web/src/pages/Status/Status.controller.tsx
  web/src/pages/Status/Status.view.tsx
Labels: app

#93 Repair autoscaling rule for archive mainnet nodes
  infra/terraform/modules/tezos_node/user_data_archive.tpl
  infra/terragrunt/01_tezos_carthagenet_archive_node/terragrunt.hcl
  infra/terragrunt/01_tezos_mainnet_archive_node/terragrunt.hcl
Labels: bug, infra

#111 Fix on /status url to use the response.data
  web/src/pages/Status/Status.controller.tsx
Labels: app, bug

#109 Try a fix graphics requestByDay by adding a sort
  web/src/pages/Dashboard/Dashboard.controller.tsx
Labels: app, bug

#112 Add cron system for node check and add first start autoscaling lock
  infra/terraform/modules/tezos_node/user_data_rolling.tpl
Labels: bug, infra
