Repository octo-technology/tezos-link, pull requests merged in 2020-03, with the labels that each got.

#6 Backup management v0.1
  README.md
  infra/terraform/iam/config.tf
  infra/terraform/iam/main.tf
  infra/terraform/iam/output.tf
  infra/terraform/iam/provider.tf
  infra/terraform/modules/blockchain_backup/config.tf
  infra/terraform/modules/blockchain_backup/main.tf
  infra/terraform/modules/blockchain_backup/provider.tf
  infra/terraform/modules/blockchain_backup/variables.tf
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/user_data.tpl
  infra/terragrunt/01_blockchain_backup/terragrunt.hcl
Labels: infra

#8 Create loadbalancer for farm
  .github/workflows/infra.yml
  infra/terraform/iam/main.tf
  infra/terraform/iam/output.tf
  infra/terraform/modules/blockchain_backup/main.tf
  infra/terraform/modules/blockchain_backup/variables.tf
  infra/terraform/modules/network/variables.tf
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/network.tf
  infra/terraform/modules/tezos_node/security_group.tf
  infra/terraform/modules/tezos_node/variables.tf
Labels: CI, farm, infra

#9 Backup management v0.2
  infra/terraform/modules/tezos_node/user_data.tpl
Labels: backup, infra

#17 Update and variabilize tezos_node number created
  infra/dev.tfvars
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/variables.tf
Labels: enhancement, farm, infra

#24 Confetis and refactoring
  web/package.json
  web/public/android-chrome-192x192.png
  web/public/android-chrome-512x512.png
  web/public/apple-touch-icon.png
  web/public/browserconfig.xml
  web/public/favicon-16x16.png
  web/public/favicon-32x32.png
  web/public/favicon.ico
  web/public/favicon.png
  web/public/index.html
  web/public/logo.svg
  web/public/logo192.png
  web/public/logo512.png
  web/public/manifest.json
  web/public/mstile-150x150.png
  web/public/safari-pinned-tab.svg
  web/public/site.webmanifest
  web/src/pages/Dashboard/Dashboard.components/Confetis/Confetis.controller.tsx
  web/src/pages/Dashboard/Dashboard.components/Modal/Modal.style.tsx
  web/src/pages/Dashboard/Dashboard.components/Modal/Modal.view.tsx
  web/src/pages/Dashboard/Dashboard.components/ModalContainer/ModalContainer.controller.tsx
  web/src/pages/Dashboard/Dashboard.components/ModalProjectCreated/ModalProjectCreated.style.tsx
  web/src/pages/Dashboard/Dashboard.components/ModalProjectCreated/ModalProjectCreated.view.tsx
  web/src/pages/Dashboard/Dashboard.components/TokenCopy/TokenCopy.view.tsx
  web/src/pages/Dashboard/Dashboard.controller.tsx
  web/src/pages/Dashboard/Dashboard.style.tsx
  web/src/styles/global.ts
Labels: frontend

#18 Add tezos network management
  infra/dev.tfvars
  infra/terraform/modules/blockchain_backup/main.tf
  infra/terraform/modules/network/database_private.tf
  infra/terraform/modules/network/ecs_private.tf
  infra/terraform/modules/network/ecs_public.tf
  infra/terraform/modules/network/farm_public.tf
  infra/terraform/modules/network/main.tf
  infra/terraform/modules/network/public_gateway.tf
  infra/terraform/modules/rds_cluster/network.tf
  infra/terraform/modules/service_api/network.tf
  infra/terraform/modules/service_proxy/dns.tf
  infra/terraform/modules/service_proxy/loadbalancer.tf
  infra/terraform/modules/service_proxy/locals.tf
  infra/terraform/modules/service_proxy/logs.tf
  infra/terraform/modules/service_proxy/main.tf
  infra/terraform/modules/service_proxy/network.tf
  infra/terraform/modules/service_proxy/security_group.tf
  infra/terraform/modules/service_proxy/variables.tf
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/network.tf
  infra/terraform/modules/tezos_node/security_group.tf
  infra/terraform/modules/tezos_node/user_data.tpl
  infra/terraform/modules/tezos_node/variables.tf
  infra/terragrunt/02_service_proxy/terragrunt.hcl
Labels: enhancement, farm, infra, proxy

#25 [WFD] Enable cloudwatch monitoring
  infra/terraform/modules/ecs_cluster/main.tf
  infra/terraform/modules/tezos_node/main.tf
Labels: infra

#23 [WFD] Deploy Cloudfront
  infra/terraform/modules/cloudfront/config.tf
  infra/terraform/modules/cloudfront/dns.tf
  infra/terraform/modules/cloudfront/main.tf
  infra/terraform/modules/cloudfront/provider.tf
  infra/terraform/modules/cloudfront/variables.tf
  infra/terragrunt/01_frontend/terragrunt.hcl
Labels: frontend, infra

#26 Update ulimits in proxy
  infra/terraform/modules/service_proxy/proxy_task_definition.json
Labels: infra

#30 HTTPS on loadbalancers
  infra/terraform/modules/service_api/loadbalancer.tf
  infra/terraform/modules/service_api/main.tf
  infra/terraform/modules/service_api/security_group.tf
  infra/terraform/modules/service_proxy/loadbalancer.tf
  infra/terraform/modules/service_proxy/main.tf
  infra/terraform/modules/service_proxy/security_group.tf
Labels: infra

#28 Add snapshot exporter lambda
  Makefile
  README.md
  cmd/snapshot/main.go
  go.mod
  go.sum
  infra/dev.tfvars
  infra/terraform/iam/lambda-assume-role/config.tf
  infra/terraform/iam/lambda-assume-role/main.tf
  infra/terraform/iam/lambda-assume-role/output.tf
  infra/terraform/iam/lambda-assume-role/provider.tf
  infra/terraform/iam/personal-access-role/main.tf
  infra/terraform/modules/lambda/config.tf
  infra/terraform/modules/lambda/logs.tf
  infra/terraform/modules/lambda/main.tf
  infra/terraform/modules/lambda/provider.tf
  infra/terraform/modules/lambda/rules.tf
  infra/terraform/modules/lambda/variables.tf
  infra/terraform/modules/tezos_node/lambda_public_key
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/output.tf
  infra/terraform/modules/tezos_node/user_data.tpl
  infra/terraform/modules/tezos_node/variables.tf
  infra/terragrunt/02_lambda/terragrunt.hcl
Labels: infra

#27 Autoscaling on tezos_node (farm)
  infra/dev.tfvars
  infra/terraform/iam/lambda-assume-role/main.tf
  infra/terraform/modules/cloudfront/main.tf
  infra/terraform/modules/lambda/main.tf
  infra/terraform/modules/network/dns.tf
  infra/terraform/modules/network/main.tf
  infra/terraform/modules/service_proxy/main.tf
  infra/terraform/modules/tezos_node/autoscaling.tf
  infra/terraform/modules/tezos_node/dns.tf
  infra/terraform/modules/tezos_node/main.tf
  infra/terraform/modules/tezos_node/output.tf
  infra/terraform/modules/tezos_node/user_data.tpl
  infra/terraform/modules/tezos_node/variables.tf
  infra/terragrunt/01_tezos_farm/terragrunt.hcl
Labels: farm, infra

#34 Rework CI/CD in action
  .github/workflows/build.yml
  .github/workflows/cicd_api.yml
  .github/workflows/cicd_front.yml
  .github/workflows/cicd_lambda.yml
  .github/workflows/cicd_proxy.yml
  .github/workflows/deploy.yml
  Makefile
  infra/terragrunt/01_rds_cluster/terragrunt.hcl
  infra/terragrunt/02_service_api/terragrunt.hcl
  infra/terragrunt/02_service_proxy/terragrunt.hcl
  infra/terragrunt/terragrunt.hcl
  infra/vaulted.tfvars
Labels: CI
