Repository octo-technology/tezos-link, pull requests merged in 2020-06, with the labels that each got.

#33 backup lambda improvement
  cmd/snapshot/main.go
  infra/terraform/iam/lambda-assume-role/main.tf
  infra/terraform/modules/lambda/main.tf
  infra/terragrunt/01_lambda/output.txt
  infra/terragrunt/01_lambda/terragrunt.hcl
Labels: infra

#47 Add batching and caching of metric insertions
  cmd/proxy/main.go
  config/proxy_config.go
  data/proxy/conf/local.toml
  data/proxy/conf/prod.toml
  internal/api/usecases/helpers_test.go
  internal/proxy/domain/repository/metrics_repository.go
  internal/proxy/infrastructure/cache/cache_blockchain_repository.go
  internal/proxy/infrastructure/cache/cache_metrics_repository.go
  internal/proxy/infrastructure/cache/cache_metrics_repository_test.go
  internal/proxy/usecases/helpers_test.go
  internal/proxy/usecases/proxy_usecase.go
  internal/proxy/usecases/proxy_usecase_test.go
  pkg/domain/repository/metric_repository.go
  pkg/infrastructure/database/postgres_metrics_repository.go
  pkg/infrastructure/database/postgres_metrics_repository_test.go
  test/proxy/conf/test.toml
Labels: app

#80 Add codebase use for loadtest
  perf/README.md
  perf/img/locust-graph.png
  perf/img/locust-server.png
  perf/locust_load_on_head.py
  perf/requirements.txt
Labels: loadtest

#79 Fix cloud-init script problem at start on rolling-nodes
  infra/terraform/modules/tezos_node/user_data.tpl
Labels: bug, infra

#84 Use last block for rolling node snapshot
  infra/terraform/modules/tezos_node/user_data.tpl
Labels: infra

#51 Metric cleaning lambda (infrastructure part)
  .github/workflows/cicd_lambda_metrics_cleaner.yml
  .github/workflows/cicd_lambda_snapshot.yml
  Makefile
  infra/dev.tfvars
  infra/terraform/iam/lambda-assume-role/main.tf
  infra/terraform/iam/lambda-assume-role/output.tf
  infra/terraform/modules/lambda/logs.tf
  infra/terraform/modules/lambda/main.tf
  infra/terraform/modules/lambda/rules.tf
  infra/terraform/modules/lambda/variables.tf
  infra/terraform/modules/lambda/vpc_config.tf
  infra/terraform/modules/rds_cluster/main.tf
  infra/terraform/modules/rds_cluster/security_group.tf
  infra/terragrunt/01_lambda/output.txt
  infra/terragrunt/01_lambda/terragrunt.hcl
  infra/terragrunt/01_lambda_snapshot/terragrunt.hcl
  infra/terragrunt/02_lambda_metrics/terragrunt.hcl
Labels: infra

#50 Add router with the `proxy` service for rolling node
  README.md
  api-docs/api/docs.go
  build/package/proxy.Dockerfile
  cmd/proxy/main.go
  config/proxy_config.go
  data/proxy/conf/local.toml
  data/proxy/conf/prod.toml
  docker-compose.yml
  infra/terraform/modules/service_api/variables.tf
  infra/terraform/modules/service_proxy/main.tf
  infra/terraform/modules/service_proxy/proxy_task_definition.json
  infra/terraform/modules/service_proxy/variables.tf
  infra/terragrunt/02_service_proxy/terragrunt.hcl
  internal/proxy/domain/repository/blockchain_repository.go
  internal/proxy/infrastructure/cache/cache_blockchain_repository.go
  internal/proxy/infrastructure/proxy/proxy_blockchain_repository.go
  internal/proxy/usecases/helpers_test.go
  internal/proxy/usecases/proxy_usecase.go
  internal/proxy/usecases/proxy_usecase_test.go
  test/proxy/conf/test.toml
Labels: app
